pyaudio
faster-whisper
scikit-learn
numpy
pyttsx3>=2.90
PyQt6
psutil
pyautogui
pyperclip
Pillow
requests
plyer
glob2
winshell
pywinctl
pywin32
uiautomation
# evdev  # (Only for Linux, not needed for Windows build)
setuptools
